@import url('https://fonts.googleapis.com/css2?family=Jost:wght@200&family=Permanent+Marker&display=swap');


html {
    overflow-y: scroll;
    height: 100%;
  }
  
  * {
    box-sizing: border-box;
  }
  
  body {
    overflow-y: visible;
    position: relative;
    height: unset;
    font-family: 'Jost', sans-serif;
    color: #222222;
    text-align: center;
  }
  html,
  body {
    overflow-x: hidden;
    margin: 0;
  }
  
  .container {
    width: 200%;
    height: 100vh;
    display: flex;
    flex-wrap: nowrap;
    background: #f7f7f7;
  }
  
  img {
    width: 400px;
    height: 400px;
    object-fit: contain;
  }
  
  .banner h2,
  .footer h2 {
    margin: 20px 0;
    font-size: 30px;
    font-weight:bold;
  }
  
  section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    padding: 0 80px;
  }
  
  h2 {
    margin: 50px 0 20px;
    font-size: 30px;
  }
  
  p {
    font-size: 20px;
    opacity: 0.66;
  }

  h2, p{
    color: black;
    font-weight: bolder;
    
  }
  
  .banner {
    flex-direction: row;
    text-align: left;
    gap: 30px;
    background: hsl(35, 29%, 71%);
  }
  
  .footer {
    background: #ffffff;
  }
  
  .panel {
    width: 100%;
    height: 100%;
  }

  .panel a{
    text-decoration: none;
    color: black;
  }
  
  .container .panel:nth-child(odd) {
    background: #fff;
  }